/* From Uiverse.io by Gaurang7717 */
.whatsapp-button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: #00d757;
}

.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 25px;
}

.sign svg path {
  fill: white;
}
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1em;
  font-weight: 600;
  transition-duration: 0.3s;
}

.whatsapp-button:hover {
  width: 150px;
  border-radius: 40px;
  transition-duration: 0.3s;
  background-color: #00d757;
}

.whatsapp-button:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 10px;
}

.whatsapp-button:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}
.whatsapp-button:active {
  transform: translate(2px, 2px);
}
