.es-widget-title {
  color: var(--color-primary);
  font-family: var(--font-family-heading);
  font-size: 2rem !important;
  padding-bottom: 2rem !important;
}

.alt-bg .es-widget-title {
  color: var(--color-bg) !important;
}

.elfsight-app-e03c4be4-b994-4284-ba95-ecd5115ee9da {
  padding: 0 !important;
  max-width: 90% !important;
}

.es-layout-carousel-arrow {
  background-color: var(--color-primary) !important;
}

.es-layout-carousel-arrow:hover {
  background-color: var(--color-accent) !important;
}
