.contact-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 30px;
  align-items: center;
}

.contact-row-text {
  flex: 1;
}

.contact-row-action {
  flex: 1;
}

.contribute-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
