.navbar-link {
  text-decoration: none;
  font-weight: bold;
  padding: 0 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-bg);
  text-decoration: inherit;
  cursor: pointer;
  width: 6em;
}

.navbar-link:hover {
  color: var(--color-accent);
}

.active-link {
  color: var(--color-accent);
  background-color: var(--color-bg);
}

@media screen and (max-width: 1028px) {
  .navbar-link {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    padding: 1rem;
    display: table;
    height: auto;
  }

  /* Optional: Hover effect for mobile links */
  .navbar-link:hover {
    background-color: var(--color-accent);
    border-radius: 4px;
  }

  .active-link {
    background-color: var(--color-primary);
    color: var(--color-accent);
  }
}
